@use '../../../../styles/colors' as c;
@use '../../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}

//Back Button Styles --------------------------------------------------------------------------

.back-button{
    margin-left: 1.3em;
    margin-top: 1em;
    padding: 0.5em 1em;
    font-family: f.$body-font;
    font-size: 1.2em;
    background-color: c.$black;
    color: c.$white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.back-button:hover{
    background-color: c.$blue;
    cursor: pointer;
    transform: scale(1.05);
}

//Title Section ---------------------------------------------------------------------------
.title-logo-is
{
    display: flex;
    justify-self: center !important;
    //margin: 0;
    justify-content: center !important;
    align-self: center!important;
    align-content: center !important;
}

.title-container{
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1.8em;
    padding-left: 0.7em;
    padding-right: 1em;
    background-color: c.$light-blue !important;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 70%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

//About Section ---------------------------------------------------------------------------

.sb-about{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 80%;
    justify-self: center;

    font-family: f.$body-font;
    font-size: 1.3em;
}

//Table Styles ---------------------------------------------------------------------------

table, th, td {
  border:2px solid black;
  justify-self: center;
  align-self: center;
}

.tech{
    width: 10em;
    font-family: f.$body-font;
    font-weight: 600;
    font-size: 1.4em;
    color: c.$black;
}

.used{
    width: 20em;
    font-family: f.$title-font;
    font-weight: 400;
    font-size: 1.2em;
    color: c.$black;
}

.tech-stack{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2{
        justify-self: center;
        align-self: center;
    }

}

//Creator Section ---------------------------------------------------------------------------

.creators-container-is{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 2.5em;
    padding-bottom:0.2em;
    padding-top: 1em;
    justify-self: center;

}

.creators-background-is
{
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 97%;
    justify-self: center;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.creator-card{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.name{
    margin-top: 0.5em;
    font-family: f.$body-font;
    font-weight: 600;
    font-size: 1.3em;
    color: c.$black;
}

.creator-image{
    border-radius: 2em; 
    object-fit: cover;
    border: 0.6em solid c.$black;
}

//Steam Section ---------------------------------------------------------------------------
.steam{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;

    h2{
        justify-self: center;
        align-self: center;
    }
}

.steam-logo{
    cursor: pointer;
    justify-self: center;
    align-self: center;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;

}

.steam-logo:hover{
    transform: scale(1.05);
}

//Deal with different screen sizes-------------------------------------------------------------------

@media screen and (max-width: 900px) {

    .steam-logo{
        transform: scale(60%);
    }

    .creators-container-is{
        flex-direction: column;
    }

    .is-titles{
        text-align: center;
    }

    .title-logo-is{
        transform: scale(60%);
        justify-self: center !important;
        align-self:center !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .title-logo-is img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;   /* limits size on small screens */
        height: auto;
    }
}