@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard;

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}
 
.outermost-container{
    display: grid;
    margin: auto;
    //padding: 1.1em;
    width: 95%;
    height: 100%;
    background-color:c.$brown;
    box-shadow: 4px 4px 10px c.$black;
    border-radius: 3em;
    padding-top:2.8em;
    padding-bottom:3em;
}

.row1, .row2{
    margin:0;
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    //background-color: c.$black;
    justify-content: space-evenly;
    padding-right:1.3em;
    padding-left:1.3em;
}

%item-default {
    display: flex;
    flex-direction: row;
    background-color: c.$black;
    min-height: 10em;
    max-height: 12em;
    width: 45%;
    height: 100%;
    background-color:c.$dark-yellow;
    box-shadow: 4px 4px 10px c.$black;
    border-radius: 2em;
    margin:auto;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    justify-content:flex-end;
    text-align: center;
    align-items:end;
    transition: 0.6s ease;
    backface-visibility: hidden;
    //transition: transform 0.3s ease, background-color 0.3s ease;
}

%image-hover{
    background-color:c.$light-yellow;
    transform: translateX(0) scale(1.05) !important;
    cursor: pointer;
}

.about{
    @extend %item-default;
    background-image: url("../../../images/home-page/harrison-run2.JPG");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65% 112%;
    animation: slideInFromLeft 1.5s ease forwards;
}

.about:hover{
    @extend %image-hover;
    opacity: 0.7;
}

.contact{
    @extend %item-default;
    background-image: url("../../../images/home-page/harrison-run.JPG");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65% 135%;
    animation: slideInFromLeft 1.5s ease forwards;
    //animation-delay: 0.05s;
}

.contact:hover{
    @extend %image-hover;
    opacity: 0.7;
}

.ultimate{
    @extend %item-default;
    background-image: url("../../../images/home-page/lime-city-ult-logo.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65% 115%;
    animation: slideInFromRight 1.5s ease forwards;
    //animation-delay: 0.05s;
}

.ultimate:hover{
    @extend %image-hover;
    opacity: 0.7;
}

.port{
    @extend %item-default;
    background-image: url("../../../images/home-page/island-song.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65% 100%;
    animation: slideInFromRight 1.5s ease forwards;
}

.port:hover{
    @extend %image-hover;
    opacity: 0.7;
}

h1 {
    font-family: f.$title-font;
    font-weight: 700;
    font-size: clamp(1.75rem, 3vw, 1.5rem);
    line-height: 1.2;
    margin: 1.5em 0 0.4em;
    color: c.$black
}
h3 {
    font-family: f.$body-font;
    font-weight: 200;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
    line-height: 1.2;
    margin: 1.5em 0 0.4em;
    color: c.$black;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%) scale(1.0); /* Start off-screen */
    }
    100% {
        transform: translateX(0) scale(1.0); /* End in its natural position */
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%) scale(1.0); /* Start off-screen */
    }
    100% {
        transform: translateX(0) scale(1.0); /* End in its natural position */
    }
}