html, body, main {
  margin: 0;
  transition: background-color 1s ease, color 1s ease;
}

body {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(0, 0%, 0%);
  background-color: hsl(49, 93%, 52%);
}

header {
  margin-left: 1.3em;
  margin-right: 1.3em;
}

.outermost-container {
  display: grid;
  margin: auto;
  width: 95%;
  height: 100%;
  background-color: rgba(161, 94, 23, 0.874);
  box-shadow: 4px 4px 10px hsl(0, 0%, 0%);
  border-radius: 3em;
  padding-top: 2.8em;
  padding-bottom: 3em;
}

.row1, .row2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 1.3em;
  padding-left: 1.3em;
}

.port, .ultimate, .contact, .about {
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 0%);
  min-height: 10em;
  max-height: 12em;
  width: 45%;
  height: 100%;
  background-color: hsl(48, 84%, 51%);
  box-shadow: 4px 4px 10px hsl(0, 0%, 0%);
  border-radius: 2em;
  margin: auto;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  justify-content: flex-end;
  text-align: center;
  align-items: end;
  transition: 0.6s ease;
  backface-visibility: hidden;
}

.port:hover, .ultimate:hover, .contact:hover, .about:hover {
  background-color: hsl(49, 90%, 73%);
  transform: translateX(0) scale(1.05) !important;
  cursor: pointer;
}

.about {
  background-image: url("../../../images/home-page/harrison-run2.JPG");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 65% 112%;
  animation: slideInFromLeft 1.5s ease forwards;
}

.about:hover {
  opacity: 0.7;
}

.contact {
  background-image: url("../../../images/home-page/harrison-run.JPG");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 65% 135%;
  animation: slideInFromLeft 1.5s ease forwards;
}

.contact:hover {
  opacity: 0.7;
}

.ultimate {
  background-image: url("../../../images/home-page/lime-city-ult-logo.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 65% 115%;
  animation: slideInFromRight 1.5s ease forwards;
}

.ultimate:hover {
  opacity: 0.7;
}

.port {
  background-image: url("../../../images/home-page/island-song.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 65% 100%;
  animation: slideInFromRight 1.5s ease forwards;
}

.port:hover {
  opacity: 0.7;
}

h1 {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: clamp(1.75rem, 3vw, 1.5rem);
  line-height: 1.2;
  margin: 1.5em 0 0.4em;
  color: hsl(0, 0%, 0%);
}

h3 {
  font-family: Times, Times New Roman, serif;
  font-weight: 200;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
  line-height: 1.2;
  margin: 1.5em 0 0.4em;
  color: hsl(0, 0%, 0%);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%) scale(1); /* Start off-screen */
  }
  100% {
    transform: translateX(0) scale(1); /* End in its natural position */
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(200%) scale(1); /* Start off-screen */
  }
  100% {
    transform: translateX(0) scale(1); /* End in its natural position */
  }
}/*# sourceMappingURL=home.css.map */