@use '../../../../styles/colors' as c;
@use '../../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}

h2{
    justify-self: center;
    font-family: f.$title-font;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 0.1em;
    margin: 0;
}

//Back Button Styles --------------------------------------------------------------------------

.back-button{
    margin-left: 1.3em;
    margin-top: 1em;
    padding: 0.5em 1em;
    font-family: f.$body-font;
    font-size: 1.2em;
    background-color: c.$black;
    color: c.$white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.back-button:hover{
    background-color: c.$blue;
    cursor: pointer;
    transform: scale(1.05);
}

//Title Section ---------------------------------------------------------------------------

.sb-title{
    display:flexbox;
    flex-direction: row;   
    margin: 1rem auto; 
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    color: c.$black;
    background-color: c.$blue;
    width: auto;
    max-width: 85%;  
    border-radius: 1em;
    box-shadow: 0 4px 8px c.$black;
    animation: fadeIn 1s ease-in forwards;

   h1{
        font-family: f.$title-font;
        font-weight: 700;
        color: c.$white;
        font-size: 2em;
        align-self: center;
        justify-self: center;
        padding-top: 1em;
   }

   img{
        display: flex;
        justify-self: center;
        align-self: center;
        padding-bottom: 1em;
   }
    
}

//Creator Section ---------------------------------------------------------------------------

.creators-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 2.5em;
    padding-bottom:0.2em;
    padding-top: 1em;
    justify-self: center;
}

.creators-background
{
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 80%;
    justify-self: center;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.creator-card{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.name{
    margin-top: 0.5em;
    font-family: f.$body-font;
    font-weight: 600;
    font-size: 1.3em;
    color: c.$black;
}

.creator-image{
    border-radius: 2em; 
    object-fit: cover;
    border: 0.6em solid c.$black;
}

//About Section ---------------------------------------------------------------------------

.sb-about{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 80%;
    justify-self: center;
    font-family: f.$body-font;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

//Github Section ---------------------------------------------------------------------------
.github{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;

    h2{
        justify-self: center;
        align-self: center;
    }
}

.github-logo{
    cursor: pointer;
    justify-self: center;
    align-self: center;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;

}

.github-logo:hover{
    transform: scale(1.05);
}

//Tech Stack Table ---------------------------------------------------------------------------

table, th, td {
  border:2px solid black;
  justify-self: center;
  align-self: center;
}

.tech{
    width: 10em;
    font-family: f.$body-font;
    font-weight: 600;
    font-size: 1.4em;
    color: c.$black;
}

.used{
    width: 20em;
    font-family: f.$title-font;
    font-weight: 400;
    font-size: 1.2em;
    color: c.$black;
}

.tech-stack{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;

    h2{
        justify-self: center;
        align-self: center;
    }

}

//Link Section -------------------------------------------------------------------

.sb-link{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: c.$light-gray;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 50%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;

    h2{
        justify-self: center;
        align-self: center;
    }
}

.link-logo{
    cursor: pointer;
    justify-self: center;
    align-self: center;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 2em;

}

.link-logo:hover{
    transform: scale(1.05);
}

//Deal with different screen sizes-------------------------------------------------------------------

@media screen and (max-width: 900px) {
    .creators-container{
        flex-direction: column;
    }

    .sb-titles{
        text-align: center;
    }

    .link-logo{
        transform: scale(60%);
    }

    .github-logo{
        transform: scale(50%);
    }

}