@use '../../../../styles/colors' as c;
@use '../../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}

h2{
    justify-self: center;
    font-family: f.$title-font;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 0.1em;
    margin: 0;
}


.sb-title{
    display:flexbox;
    flex-direction: row;   
    margin: -1.5rem auto; 
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    color: c.$black;
    background-color: c.$blue;
    width: auto;
    max-width: 85%;  
    border-radius: 1em;
    box-shadow: 0 4px 8px c.$black;

   h1{
        font-family: f.$title-font;
        font-weight: 700;
        color: c.$white;
        font-size: 2em;
        align-self: center;
        justify-self: center;
        padding-top: 1em;
   }

   img{
        display: flex;
        justify-self: center;
        align-self: center;
        padding-bottom: 1em;
   }
    
}


.creators-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 2.5em;
    padding-bottom:0.2em;
    padding-top: 1em;
    animation: fadeIn 2s ease-in forwards;
    background-color: c.$light-gray;
    border-radius: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 75%;
    justify-self: center;

}

.creator-card{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.name{
    margin-top: 0.5em;
    font-family: f.$body-font;
    font-weight: 600;
    font-size: 1.2em;
    color: c.$black;
}

.creator-image{
    border-radius: 2em; 
    object-fit: cover;
    border: 0.3em solid c.$black;
}