@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard;

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}

.lcu-h1{
    padding: 1em;
    font-family: f.$title-font;
    font-weight: 700;
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    color: c.$black
}

.lcu-h2{
    padding-top: 1em;
    font-family: f.$title-font;
    font-weight: 700;
    font-size: clamp(1.75rem, 3vw, 1.5rem);
    color: c.$black;
}

.figcaption{
    font-family: f.$title-font;
    font-weight: 400;
    font-size: clamp(1.75rem, 3vw, 1rem);
    color: c.$black;
    align-self:center;
    justify-self: center;
}



.lcu_logo{
    border-radius: 10%;
    border-width: 1em;
    box-shadow: 4px 4px 10px c.$black;
    display:flex;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
    
}

.youtube{
    display:flex;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
}

.youtube:hover{
    transform: scale(1.05);
}

/* Styles for screens smaller than 700px */
@media screen and (max-width: 900px) {
    .lcu_logo{
        width: 60%;
        height: 50%
    }

    .youtube{
        width: 60%;
        height: 50%
    }

    .lcu-h1{
        font-size: 1.2em !important;
        text-align: center;
    }

    .lcu-h2{
        font-size: 1em !important;
    }

    .figcaption{
        text-align: center;
    }
}