@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

.header_nav
{
    margin-top: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5em;
    background-color: c.$black;
    padding: 0; 
    //overflow:hidden;

    ul{
        margin: 0;
        padding: 0.5 1rem; 
        list-style: none;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        //gap: 10rem;
        gap: 10vw;
        color: c.$white;
        flex-direction: row;
        font-family: f.$title-font;
        font-size: 2.5vw; 
        left: 0em !important;

        a {
            text-decoration: none;
            color: c.$white;
            //padding: 0.3em;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            padding-right: 0.3em;
            padding-left: 0.3em;
        }

        a:hover {
            color: c.$mustard;
            font-weight: bold;
        }

        img {
            display: block;
            margin-left: 0;
            margin-right: 0.5rem; /* small gap between image and links */
            margin-top: 0;
            padding: 0;
            height: 1.8em;
            width: 4em;
        }
    }

}

/* Styles for screens smaller than 700px */
@media screen and (max-width: 700px) {
    .header_nav
    {    
        height: 2.8em;
        
        ul{
            font-size: 1em;
            //gap: 1.2vw;
            gap:4%;
            padding: 0 1rem; 

            img{
                justify-self: center;
                padding-left: 0 !important;
            }
        }

    }
}