@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

.container
{
    margin-top: 0em;
    display: flexbox;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
    height: 4.5em;
    background-color: c.$black !important;

    ul{
        
        margin-top: 0em;
        padding: 0.3em;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        color: c.$white;
        flex-direction: row;
        font-family: f.$title-font;
        font-size: 2em; 
        left: 0.5em;

        a {
            text-decoration: none;
            color: c.$white;
        }

        a:hover {
            color: c.$mustard;
            font-weight: bold;
        }

        img {
            display: flex;
            align-self: left ;
            margin-right: auto;
            margin-left: 0.1em;
            position: absolute;
            top: 0.3em;
            left: 1.3em;

        }
    }

}