@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard;

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}

.image{
    border-radius: 1.5em;
    object-fit: cover;
    width: 35%;
    height: auto;
    //padding-bottom: 1em;
}

.card{
    background-color: c.$brown;
    border-radius: 1.5em;
    padding: 1em;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px c.$black;
    width: 80%;
    justify-self: center;
    align-self: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;

}

.title{
    font-family: f.$title-font;
    font-weight: 700;
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: 1.2;
    margin: 0.5em 0 0.4em;
    color: c.$black;
    padding-left: 25%;
}