@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard;

}

header{
    margin-left: 1.3em;
    margin-right: 1.3em;
}

//Edit Bootstrap Defaults

/* Active pill/tab (higher specificity to override Bootstrap) */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: c.$brown !important;
  color: c.$white !important;
  border-radius: 0.5rem;
  box-shadow: none;
}

/* Normal tabs */
.nav-pills .nav-link {
  color: c.$black;
  background-color: transparent;
  transition: background-color 0.18s ease, color 0.18s ease;
  
}

/* Hover state */
.nav-pills .nav-link:hover {
  background-color: c.$light-yellow;
  color: #000;
}

