//font colors
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

//background theme colors
$light-gray: hsl(0, 0%, 86%); 
$gray: hsl(0, 0%, 70%); 
$dark-gray: hsl(0, 0%, 51%); 
$teal: hsl(178, 100%, 50%);
$mint-green: hsl(142, 90%, 59%);

//Main page colors
$mustard: hsl(49, 93%, 52%); 
$light-yellow: hsl(49, 90%, 73%); 
$dark-yellow: hsl(48, 84%, 51%);
$brown: rgba(161, 94, 23, 0.874);

//signing bee color
$blue: hsl(221, 51%, 16%);
$blue-highlight: hsl(220, 51%, 28%);

//island song colors
$light-blue: #6dffff;

