@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

html, body, main {
    margin: 0;
    transition: background-color 1s ease, color 1s ease;
}

body {
    //font
    font-family: f.$title-font;
    font-weight: 400;
    line-height: 1.6;
    color: c.$black;
    background-color: c.$mustard;

}

.links{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height:30.5em;
    padding-top:0.5em;
    padding-bottom:0em;
    margin:0;
}

.contact-font {
    font-family: f.$title-font;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.2;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    color: c.$black;
    justify-self: center;

}

.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 3em;
    padding-bottom:2em;
    padding-top: 0.5em;
    animation: fadeIn 2s ease-in forwards;

}

.icon{
    border-radius: 20%;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 0 !important;
    //padding:0.5em;
}

.icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.icon:hover .tooltiptext {
  visibility: visible !important;
  transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tooltiptext {
  visibility: hidden !important; /* Hidden by default */
  width: 120%;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top:-3.5em;
  z-index: 999 !important; /* Ensure tooltip is displayed above content */
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}



