@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

.footer_nav
{
    margin-top: 0em;
    display: flexbox;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
    padding-left: 1.5em;
    padding-bottom: 0em;

    background-color: c.$white !important;
    position: fixed;
    bottom: 0;

    ul{
        
        margin-top: 0em;
        padding-top: 0.3em;
        display: flex;
        justify-content: space-evenly; 
        align-items: left;
        color: c.$black;
        flex-direction: column;
        font-family: f.$title-font;
        font-size: 1.5em; 
        left: 1.3em;


        a {
            text-decoration: none;
            color: c.$black;
        }

        a:hover {
            color: c.$mustard;
            font-weight: bold;
        }

        img {
            display: flex;
            align-self: center ;
            margin-left: auto;
            margin-right: 0.1em;
            position: relative;
            right: 2em;

        }
    }

}