@use '../../../styles/colors' as c;
@use '../../../styles/fonts' as f;

.footer_nav
{
    margin-top: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding:0;
    background-color: c.$white !important;
    position: absolute;
    //bottom: 0;
    

    ul{
        display: flex;
        justify-content: space-between; 
        color: c.$black;
        flex-direction: column;
        font-family: f.$title-font;
        font-size: 1em; 
        left: 1.3em;
        margin:0;
        padding:1.3em;
        padding-left:3em;

        a {
            text-decoration: none;
            color: c.$black;
        }

        a:hover {
            color: c.$mustard;
            font-weight: bold;
        }

    }

    .footer_copyright
    {
        img 
        {
            display: flex;
            margin:0;
            padding-right: 1.3em;
                
        }

        p
        {
            display: flex;
            margin:0;
            padding-right: 1.3em;
            font-family: f.$title-font;
            font-size: 0.8em; 

        }
    }
}

p{
    color: c.$black;
}

.copyright_p:hover 
{
    color: c.$mustard;
}
