//font colors
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

//background theme colors
$light-gray: hsl(0, 0%, 86%); 
$gray: hsl(0, 0%, 70%); 
$dark-gray: hsl(0, 0%, 51%); 
$teal: hsl(178, 100%, 50%);
$mint-green: hsl(142, 90%, 59%);
$mustard: hsl(49, 93%, 52%); 
$light-yellow: hsl(49, 90%, 73%); 

